<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <!-- css link here -->
  </head>
  
  <body>
    <h1>Bookstore</h1>

<!-- link in bootstrap , add a form to track books, summary -->



  </body>
</html>